@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Roboto", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: "Playfair Display", serif;
  --radius: 0.75rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.75rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2635 0.0440 249.8208);
  --card: oklch(0.9848 0 0);
  --card-foreground: oklch(0.2635 0.0440 249.8208);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2635 0.0440 249.8208);
  --primary: oklch(0.6342 0.1148 176.8465);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9405 0.0138 228.9461);
  --secondary-foreground: oklch(0.4496 0.0791 234.4384);
  --muted: oklch(0.9701 0.0051 228.8194);
  --muted-foreground: oklch(0.5602 0.0322 229.6681);
  --accent: oklch(0.9630 0.0345 184.4883);
  --accent-foreground: oklch(0.4975 0.0890 177.2390);
  --destructive: oklch(0.5751 0.2098 19.0719);
  --border: oklch(0.9091 0.0104 228.9022);
  --input: oklch(0.9551 0.0077 228.8565);
  --ring: oklch(0.7639 0.1392 176.6120);
  --chart-1: oklch(0.7341 0.1296 177.5956);
  --chart-2: oklch(0.5424 0.1832 278.3778);
  --chart-3: oklch(0.6164 0.2078 354.5721);
  --chart-4: oklch(0.8012 0.1378 81.5452);
  --chart-5: oklch(0.7175 0.1210 313.9710);
  --sidebar: oklch(0.9405 0.0138 228.9461);
  --sidebar-foreground: oklch(0.2635 0.0440 249.8208);
  --sidebar-primary: oklch(0.6342 0.1148 176.8465);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9630 0.0345 184.4883);
  --sidebar-accent-foreground: oklch(0.4975 0.0890 177.2390);
  --sidebar-border: oklch(0.9091 0.0104 228.9022);
  --sidebar-ring: oklch(0.7639 0.1392 176.6120);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: "Roboto", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", monospace;
  --shadow-color: hsl(210 50% 15%);
  --shadow-opacity: 0.15;
  --shadow-blur: 1.25rem;
  --shadow-spread: -0.25rem;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.5rem;
  --letter-spacing: 0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.5rem 1.25rem -0.25rem hsl(210 50% 15% / 0.07);
  --shadow-xs: 0 0.5rem 1.25rem -0.25rem hsl(210 50% 15% / 0.07);
  --shadow-sm: 0 0.5rem 1.25rem -0.25rem hsl(210 50% 15% / 0.15), 0 1px 2px -1.25px hsl(210 50% 15% / 0.15);
  --shadow: 0 0.5rem 1.25rem -0.25rem hsl(210 50% 15% / 0.15), 0 1px 2px -1.25px hsl(210 50% 15% / 0.15);
  --shadow-md: 0 0.5rem 1.25rem -0.25rem hsl(210 50% 15% / 0.15), 0 2px 4px -1.25px hsl(210 50% 15% / 0.15);
  --shadow-lg: 0 0.5rem 1.25rem -0.25rem hsl(210 50% 15% / 0.15), 0 4px 6px -1.25px hsl(210 50% 15% / 0.15);
  --shadow-xl: 0 0.5rem 1.25rem -0.25rem hsl(210 50% 15% / 0.15), 0 8px 10px -1.25px hsl(210 50% 15% / 0.15);
  --shadow-2xl: 0 0.5rem 1.25rem -0.25rem hsl(210 50% 15% / 0.38);
  --tracking-normal: 0.01em;
}

.dark {
  --background: oklch(0.2107 0.0312 249.5076);
  --foreground: oklch(0.9626 0.0064 228.8377);
  --card: oklch(0.2321 0.0365 249.6503);
  --card-foreground: oklch(0.9626 0.0064 228.8377);
  --popover: oklch(0.2107 0.0312 249.5076);
  --popover-foreground: oklch(0.9626 0.0064 228.8377);
  --primary: oklch(0.8372 0.1458 177.9191);
  --primary-foreground: oklch(0.2107 0.0312 249.5076);
  --secondary: oklch(0.3323 0.0410 231.5399);
  --secondary-foreground: oklch(0.9249 0.0130 228.9374);
  --muted: oklch(0.2751 0.0250 230.4599);
  --muted-foreground: oklch(0.7678 0.0202 229.1185);
  --accent: oklch(0.4257 0.0753 177.5542);
  --accent-foreground: oklch(0.9331 0.0630 183.5622);
  --destructive: oklch(0.5751 0.2098 19.0719);
  --border: oklch(0.3755 0.0261 229.9272);
  --input: oklch(0.3073 0.0290 230.5668);
  --ring: oklch(0.8372 0.1458 177.9191);
  --chart-1: oklch(0.8089 0.1347 178.7702);
  --chart-2: oklch(0.6552 0.1349 282.0229);
  --chart-3: oklch(0.6842 0.1688 351.2746);
  --chart-4: oklch(0.8478 0.1106 83.5300);
  --chart-5: oklch(0.8114 0.0793 314.3502);
  --sidebar: oklch(0.2635 0.0440 249.8208);
  --sidebar-foreground: oklch(0.9626 0.0064 228.8377);
  --sidebar-primary: oklch(0.8372 0.1458 177.9191);
  --sidebar-primary-foreground: oklch(0.2107 0.0312 249.5076);
  --sidebar-accent: oklch(0.4257 0.0753 177.5542);
  --sidebar-accent-foreground: oklch(0.9331 0.0630 183.5622);
  --sidebar-border: oklch(0.3755 0.0261 229.9272);
  --sidebar-ring: oklch(0.8372 0.1458 177.9191);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.75rem;
  --font-sans: "Roboto", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.5;
  --shadow-blur: 1.5rem;
  --shadow-spread: -0.5rem;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.75rem;
  --letter-spacing: 0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.75rem 1.5rem -0.5rem hsl(0 0% 0% / 0.25);
  --shadow-xs: 0 0.75rem 1.5rem -0.5rem hsl(0 0% 0% / 0.25);
  --shadow-sm: 0 0.75rem 1.5rem -0.5rem hsl(0 0% 0% / 0.50), 0 1px 2px -1.5px hsl(0 0% 0% / 0.50);
  --shadow: 0 0.75rem 1.5rem -0.5rem hsl(0 0% 0% / 0.50), 0 1px 2px -1.5px hsl(0 0% 0% / 0.50);
  --shadow-md: 0 0.75rem 1.5rem -0.5rem hsl(0 0% 0% / 0.50), 0 2px 4px -1.5px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0 0.75rem 1.5rem -0.5rem hsl(0 0% 0% / 0.50), 0 4px 6px -1.5px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0 0.75rem 1.5rem -0.5rem hsl(0 0% 0% / 0.50), 0 8px 10px -1.5px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0 0.75rem 1.5rem -0.5rem hsl(0 0% 0% / 1.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}